<div class="step-four">
    <app-steps-title-and-description
        [title]="'Finishing up'"
        [description]="'Double-check everything looks OK before confirming'"
    ></app-steps-title-and-description>

    <div class="summary">
        <div class="summary__plan-type">
            <div class="summary__plan-type-container">
                <span class="summary__plan-name"> {{ planName | titlecase }} ({{ frequency | paymentFrequency }})</span>
                <button type="button" class="summary__change-plan-btn" (click)="backToStepTwo()">Change</button>
            </div>
            <span class="summary__plan-price"> {{ planPrice | price : frequency }} </span>
        </div>

        <div class="summary__divider"></div>

        <div class="summary__add-ons">
            @for (item of items; track item.id) {
                <div class="summary__add-on">
                    <span class="summary__add-on-name"> {{ item.service }} </span>
                    <span class="summary__add-on-price"> +{{ item.price | price : frequency }} </span>
                </div>
            } @empty {
                <span class="summary__no-add-ons"> No add-ons were selected </span>
            }
        </div>
    </div>

    <div class="summary__total">
        <span class="summary__total-text">Total ({{ frequency | paymentFrequency }})</span>
        <span class="summary__total-price"> {{ totalPrice | price : frequency }} </span>
    </div>

</div>