<div class="steps">
    <div class="steps__wrapper">
        <div 
            *ngFor="let step of steps"
            class="steps__btns"
        >
            <span
                class="steps__btn"
                [ngClass]="{
                    'focus': _formsStepService.currentStep === step.step
                }"
            
            > {{ step.step }} </span>
            <div class="steps__btns-texts-container">
                <span class="steps__btns-text">STEP {{ step.step  }}</span>
                <span class="steps__btns-description"> {{ step.description | uppercase }} </span>
            </div>
        </div>
    </div>
</div>