@use "../../../../scss/variables" as var;

.step-three {
    &__input-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 1px solid var.$Cool-gray;
        border-radius: 10px;
        padding: .9rem 1rem;
        margin-top: 12px;
    }
    &__input {
        width: 22px;
        height: 22px;
        opacity: .4;
        cursor: pointer;
        &:checked {
            opacity: 1;
        }
    }
    &__label {
        width: 100%;
        display: flex;
        font-size: 0.75rem;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        div {
            display: flex;
            flex-direction: column;
            gap: 0.15rem;
        }
    }
    &__add-on {
        font-weight: 600;
        color: var.$Marine-blue;
        font-size: .9rem;
        &-benefit {
            color: var.$Cool-gray;
        }
        &-price {
            color: var.$Purplish-blue;
            font-weight: 600;
        }
    }
}

.bg-checked {
    background-color: var.$Magnolia;
}

@media screen and (min-width: 945px) {
    .step-three {
        max-width: 90%;
        &__input-container {
            gap: 1rem;
            padding: 1.3rem;
            &:first-of-type {
                margin-top: 2rem;
            }
        }
        &__label {
            font-size: .9rem;
        }
        &__add-on {
            font-size: 1rem;
        }
    }
}