<div class="step-two">
    <app-steps-title-and-description
        [title]="'Select your plan'"
        [description]="'You have the option of monthly or yearly billing.'"
    ></app-steps-title-and-description>

    <ng-container ngModelGroup="stepTwo">
        <div class="step-two__options">
            <div class="step-two__options-type" *ngFor="let plan of plans">
                <input type="radio" name="planType" [value]="plan.name" [id]="plan.name" class="step-two__options-input" [(ngModel)]="selectedPlan" required #radioPlan="ngModel" #label>
                <label [for]="plan.name" class="step-two__options-option" tabindex="1" (keyup)="check($event)">
                    <img [src]="plan.image" alt="" class="step-two__options-image">
                    <h3 class="step-two__options-title">{{ plan.name | titlecase }}</h3>
                    <span class="step-two__options-price">
                        {{ plan.price | currency : "USD" : "symbol" : "1.0-0" }}/mo
                    </span>
                    <span class="step-two__options-benefit" *ngIf="paymentFrequency === true">2 months free</span>
                </label>
            </div>
            <div class="step-two__options-monthly-yearly">
                <span>Monthly</span>
                <app-toggle-switch (billingCycle)="getPaymentFrequency($event)"></app-toggle-switch>
                <span>Yearly</span>
            </div>
        </div>
    </ng-container>
</div>