@use "../../../scss/variables" as var;

.form {
    background-color: var.$White;
    padding: 1.75rem 1.5rem;
    margin: 0 1rem;
    transform: translateY(-70px);
    border-radius: 10px;
    box-shadow: 0 4px 10px var.$Magnolia;
    &-divider {
        height: 1rem;
    }
}

.container__btns {
    background-color: var.$White;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
        border: none;
        padding: .75rem 1rem;
        background-color: var.$Marine-blue;
        color: var.$Magnolia;
        letter-spacing: 0.5px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        &:disabled {
            opacity: .3;
            cursor: auto;
        }
        &:first-of-type {
            color: var.$Cool-gray;
            background-color: transparent;
            font-weight: 600;
        }
    }
}

.hidden {
    display: none;
}

.ml {
    margin-left: auto;
}

@media screen and (min-width: 945px) {
    .form {
        padding: 3.5rem;
        margin: 0 auto;
        transform: translateY(0);
        border-radius: 0 10px 0 0;
        box-shadow: none;
        min-width: 600px;
        height: 530px;
        // max-width: 800px;
        &-divider {
            display: none;
        }
    }
    
    .container__btns {
        margin: auto;
        background-color: var.$White;
        position: static;
        padding: 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0 0 10px 0;
        height: 70px;
        button {
            padding: .9rem 1.5rem;
            font-size: 1rem;
        }
        .next-step {
            transform: translate(-100px, -20px);
        }
        .go-back {
            transform: translate(40px, -20px);
        }
        .blue-bg {
            background-color: var.$Purplish-blue;
        }
    }
}
