<form #form="ngForm" (keydown.enter)="preventDefault($event)">

    <div class="form">
        <app-form-step-one [ngClass]="{ 'hidden': formStepsService.currentStep !== 1 }"></app-form-step-one>
        <app-form-step-two 
            [ngClass]="{ 'hidden': formStepsService.currentStep !== 2 }"
            (frequency)="getFrequency($event)"
        ></app-form-step-two>
        <app-form-step-three 
            [frequency]="frequency" 
            [ngClass]="{ 'hidden': formStepsService.currentStep !== 3 }"
            (checkedAddOns)="getAddOns($event)"
        ></app-form-step-three>
        <app-form-step-four 
            [ngClass]="{ 'hidden': formStepsService.currentStep !== 4 }"
            [planName]="form.value.stepTwo?.planType"
            [frequency]="form.value.paymentFrequency"
            [planPrice]="getPlanPrice()"
            [items]="addOns"
            [totalPrice]="getFullPrice()"
        ></app-form-step-four>
        <app-form-step-five [ngClass]="{ 'hidden': formStepsService.currentStep !== 5 }" ></app-form-step-five>
    </div>

    <div class="form-divider"></div>

    <div class="container__btns">
        <button type="button"
            [ngClass]="{ 'hidden': formStepsService.currentStep === 1 || formStepsService.currentStep >= 5 }"
            (click)="goToPreviousStep()"
            class="go-back"
        >Go back
        </button>

        <button type="button"
            #nextStep
            [disabled]="verifyValidity()"
            (click)="goToNextStep()"
            [ngClass]="{ 
                'hidden': formStepsService.currentStep >= 4,
                'ml': formStepsService.currentStep === 1
            }"
            class="next-step"
        >Next Step
        </button>

        <button type="submit"
            [ngClass]="{ 
                'hidden': formStepsService.currentStep < 4 || formStepsService.currentStep > 4, 
                'ml': formStepsService.currentStep >= 4,
                'blue-bg': formStepsService.currentStep >= 4
            }"
            class="next-step"
            (click)="goToNextStep()"
        >Confirm</button>
    </div>
</form>
