@use "../../../../scss/variables" as var;

.step-five {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0;
    img {
        width: 60px;
    }
    h2 {
        color: var.$Marine-blue;
        margin-top: 0.25rem;
    }
    p {
        font-size: 1rem;
        text-align: center;
        color: var.$Cool-gray;
        line-height: 1.5;
    }
}

@media screen and (min-width: 945px) {
    .step-five {
        max-width: 450px;
        transform: translateY(70px);
        gap: 2rem;
        img {
            width: 85px;
        }
        h2 {
            margin-top: 0.25rem;
            font-size: 2rem;
        }
        p {
            font-size: 1.05rem;
        }
    }
}