<div class="step-one">
    <app-steps-title-and-description
        [title]="'Personal info'"
        [description]="'Please provide your name, email address and phone number'"
    ></app-steps-title-and-description>

    <ng-container ngModelGroup="stepOne" #stepOne="ngModelGroup">
        <div class="step-one__container">
            <div class="step-one">
                <label for="name"> Name </label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="e.g. Stephen King"
                    ngModel
                    [ngModelOptions]="{ updateOn: 'blur' }"
                    #inputName="ngModel"
                    #nameInput
                    required
                    minlength="3"
                    [ngClass]="{ 'required': inputName.invalid && inputName.touched }"
                    appNameValidator
                >
                <div class="step-one__errors" *ngIf="inputName.invalid && inputName.touched">
                    <span class="step-one__error-msg" *ngIf="!inputName.hasError('invalidName')">This field is required</span>
                    <span class="step-one__error-msg" *ngIf="inputName.hasError('invalidName')">Only letters allowed</span>
                </div>
            </div>
        
            <div class="step-one">
                <label for="email"> Email Address </label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="e.g. stephenking@lorem.com"
                    ngModel
                    [ngModelOptions]="{ updateOn: 'blur' }"
                    #inputEmail="ngModel"
                    required
                    [ngClass]="{ 'required': inputEmail.invalid && inputEmail.touched }"
                    appEmailValidator
                >
                <div class="step-one__errors" *ngIf="inputEmail.invalid && inputEmail.touched">
                    <span class="step-one__error-msg" *ngIf="inputEmail.hasError('invalidEmail')">Invalid Email Address</span>
                </div>
            </div>
        
            <div class="step-one">
                <label for="phone"> Phone Number </label>
                <input
                    type="number"
                    name="phone"
                    id="phone"
                    placeholder="e.g. +1 234 567 890"
                    ngModel
                    min="10000000"
                    max="999999999999"
                    #inputPhone="ngModel"
                    [ngModelOptions]="{ updateOn: 'change' }"
                    required
                    [ngClass]="{ 'required': inputPhone.invalid && inputPhone.touched }"
                    appPhoneNumberValidator
                >
                <div class="step-one__errors" *ngIf="inputPhone.invalid && inputPhone.touched">
                    <span class="step-one__error-msg" *ngIf="inputPhone.touched && !inputPhone.dirty">This field is required</span>
                    <span class="step-one__error-msg" *ngIf="inputPhone.hasError('invalidPhoneNumber') && inputPhone.touched && inputPhone.dirty">Must have 8 to 12 numbers</span>
                </div>
            </div>
        </div>
    </ng-container>
</div>