@use "../scss/variables" as var;

.container {
    min-height: 100vh;
    background-color: var.$Magnolia;
    position: relative;
    &__btns {
        background-color: #fff;
        position: absolute;
        bottom: 0;
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        button {
            border: none;
            padding: .75rem 1rem;
            background-color: var.$Marine-blue;
            color: var.$Magnolia;
            letter-spacing: 0.5px;
            font-weight: 500;
            border-radius: 5px;
            cursor: pointer;
            &:first-of-type {
                color: var.$Cool-gray;
                background-color: transparent;
                font-weight: 600;
            }
        }
    }
}

@media screen and (min-width: 945px) {
    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .wrapper {
            display: flex;
            height: 600px;
        }
        &__btns {
            background-color: #fff;
            position: static;
            padding: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            button {
                border: none;
                padding: .75rem 1rem;
                background-color: var.$Marine-blue;
                color: var.$Magnolia;
                letter-spacing: 0.5px;
                font-weight: 500;
                border-radius: 5px;
                cursor: pointer;
                &:first-of-type {
                    color: var.$Cool-gray;
                    background-color: transparent;
                    font-weight: 600;
                }
            }
        }
    }
}