@font-face {
    font-family: "Ubuntu-Bold";
    src: url(../assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: "Ubuntu-Medium";
    src: url(../assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: "Ubuntu-Regular";
    src: url(../assets/fonts/Ubuntu-Regular.ttf);
}

$Marine-blue: #02295a;
$Purplish-blue: #473dff;
$Pastel-blue: #adbeff;
$Light-blue: #bfe2fd;
$Strawberry-red: #ed3548;
$Cool-gray: #9699ab;
$Light-gray: #d6d9e6;
$Magnolia: #f0f6ff;
$Alabaster: #fafbff;
$White: #ffffff;
$Ubuntu-Bold: "Ubuntu-Bold", sans-serif;
$Ubuntu-Medium: "Ubuntu-Medium", sans-serif;
$Ubuntu-Regular: "Ubuntu-Regular", sans-serif;
